<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span> Angular 6</span>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>&nbsp;&nbsp;</div>
     
        <div >&nbsp;&nbsp;</div>
       
      </div>
      <div fxLayoutGap="2px">
          <a mat-button routerLink="/home"  routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
      </div>
      <div fxLayoutGap="2px">
          <a mat-button routerLink="/chat"  routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Chat</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>